* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbdea4;
    text-align: center;
}

h1{
    margin-top: 5px;
    background-color: rgb(124, 206, 250);
    color: blue;
    box-shadow: 0px 0px 5px 0px black;
}
.container {
    height: 60vh;
    display: flex;
    justify-content: center;
}


.game {
    height: 40vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    font-weight: bold;
    background-color: #9dded2;
}

#resetbutton {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 1rem;
}

#new-game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 1rem;
}

#msg {
    color: red;
    font-size: 5vmin;
    font-weight: bold;
}

.msg-container {
    margin-bottom: 5vmin;
    height: 15vmin;
}

.hide{
    visibility: hidden;
}